@Html.Raw(TempData["msg"])

<script src="../../FormValidation.js" language="javascript" type="text/javascript"></script>

<h2>Please fill the form to register</h2><br /><br />

<form onsubmit="return validateForm()" action="/Home/GetUserInfo" method="post">
    <h5>First Name </h5>
    <input type="text" name="FirstName" /><br />
    <h5>Last Name</h5>
    <input type="text" name="LastName" /><br />
    <h5>Email</h5>
    <input type="email" name="Email" /><br />
    <h5>Phone Number</h5>
    <input type="text" name="Phone" /><br />
    <h5>Password</h5>
    <input type="password" name="Password" /><br /><br />
    <input type="submit" value="Submit" />
</form>